@import url('base.css');

.wrap {
  max-width: 1120px;
  margin: 0 auto 1rem;
  padding-inline: 1rem;
  container-name: main;
  container-type: inline-size;
}

.columns {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  container-name: columns;
  container-type: inline-size;
}

@media (min-width: 550px) {
  .columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 880px) {
  .columns {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

.column__item {
  --gap: 20px;
  display: flex;
  flex-direction: column;
  /* Stuff to test subgrid. */
}
@media (min-width: 550px) {
  .column__item:nth-child(1) .article__item:not(:last-child):after,
  .column__item:nth-child(2) .article__item:not(:last-child):after {
    content: '';
    display: block;
    height: 1px;
    background-color: lightgrey;
    margin-block: var(--gap);
  }
  .column__item:last-child {
    border-top: 1px solid lightgrey;
    padding-top: var(--gap);
  }
}
@media (min-width: 880px) {
  .column__item:last-child {
    padding-top: 0;
    border-top: 0;
  }
  .column__item:last-child .article__item:not(:last-child):after {
    content: '';
    display: block;
    height: 1px;
    background-color: lightgrey;
    margin-block: var(--gap);
  }
}
@media (min-width: 550px) {
  .column__item:first-child {
    grid-column: 2/4;
  }
}

@media (min-width: 880px) {
  .column__item:first-child {
    grid-column: 2/3;
  }
}

@media (min-width: 880px) {
  @container style(--cols: 2) {
    .column__item:first-child {
      grid-column: 1/3;
    }
  }
}

@media (min-width: 550px) {
  .column__item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 1;
  }
}
.column__item:last-child > * {
  flex: 1;
}
@media (min-width: 550px) {
  .column__item:last-child {
    flex-direction: row;
    grid-column: 1/4;
  }
  @container style(--cols: 2) {
    .column__item:first-child {
      grid-column: 1/3;
    }
    .column__item:last-child {
      grid-row: 2;
    }
  }
}
@media (min-width: 880px) {
  .column__item:last-child {
    flex-direction: column;
    grid-column: 3/4;
    grid-row: 1;
  }
  .column__item:last-child > * {
    flex: initial;
  }
}

.article__item {
  container-type: inline-size;
  container-name: card;
}

.card {
  --flow-space: 1.25rem;
}

.card__thumb {
  flex: 0 0 30%;
}

.card__content {
  --flow-space: 0.25rem;
}

.card__title {
  font-weight: bold;
  font-size: 17px;
  color: #4c4e4d;
  text-wrap: balance;
}

.card__tease {
  color: #666666;
  font-size: 14px;
}

.card__meta {
  font-size: 14px;
  color: #666;
}
.card__meta a {
  color: #4f7177;
  text-decoration: none;
}

@container card (min-width: 280px) and style(--horizontal: true) {
  .card {
    display: flex;
    gap: 1rem;
  }
}
@container main (min-width: 550px) {
  @container card style(--flipped: true) {
    .card__thumb {
      order: 2;
    }
  }
}
@container style(--thumb: mobile-only) {
  .card__thumb {
    display: none;
  }
}
@media (min-width: 550px) {
  @container style(--thumb: grid-2) {
    .card__thumb {
      display: none;
    }
  }
}
@media (min-width: 880px) {
  @container style(--thumb: grid-2) {
    .card__thumb {
      display: block;
    }
  }
}
@container card (min-width: 280px) and style(--horizontal: true) and style(--thumb: mobile-only) {
  .card__thumb {
    display: block;
  }
}
@container style(--featured: true) {
  .card {
    display: flex;
    gap: 1rem;
  }

  .card__thumb {
    flex: 0 0 50%;
  }
}
/* Cool things... */
@container main (min-width: 550px) {
  @container card style(--featured: true) {
    .card {
      flex-direction: column;
      gap: 0;
    }

    .card__title {
      font-size: clamp(1rem, 6cqw, 2rem);
    }

    .card__content {
      text-align: center;
    }

    .card__tease {
      font-size: 19px;
    }
  }
}
@container main (min-width: 550px) {
  @container card style(--compact: 2) {
    .card__title {
      font-size: 19px;
    }
  }
}
/* Shit happens */
img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.u-flow > * + * {
  margin-top: var(--flow-space, 0.5rem);
}
